<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwVT7TExfgawiv17UM3LfvpVserycbj5E</string>
	<key>GCM_SENDER_ID</key>
	<string>141177238830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.penny.liveChat</string>
	<key>PROJECT_ID</key>
	<string>livechat-24a83</string>
	<key>STORAGE_BUCKET</key>
	<string>livechat-24a83.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141177238830:ios:643b8535a3753619fa76bf</string>
</dict>
</plist>